body {
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo-list {
  align-items: center;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.todo-item {
  display: flex;
  justify-content: flex-start;
  background-color: smokewhite;
  padding: 20px 20px 0;
  border-bottom: 1px solid #cecece;
  width: 70%;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  align-items: center;
}
input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
  margin: 15px;
}
